<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make Change</title>
  </head>
  <body>
    <form action="/" method="post">
      <label for="amount">Enter amount of change in cents</label>
      <input class="form-control" id="amount" name="amount" type="number">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
